
# Composer
# Cypress
# File Types
# System and IDE files
#node_modules
*.log
*.sql
*.zip
.DS_Store
.idea
.vscode/settings.json
/node_modules
/tests/_output
/tests/_support/_generated
/tests/cypress/screenshots
/tests/cypress/videos
/vendor
/wordpress
/wp-content
cypress.env.json
