:root {
  --nfd-ecommerce-text-info: #495C77;
  --nfd-ecommerce-text-secondary: #5B5B5B;
  --nfd-ecommerce-text-light: #AAAFB8;
  --nfd-ecomemerce-text-success: #17B212;
  --nfd-ecommerce-text-dark-success: #048200;
  --nfd-ecommerce-text-danger: #F72F26;
  --nfd-ecommerce-text-dark: #404040;
  
  --nfd-ecommerce-bg-light: #F8FAFC;
  --nfd-ecomemerce-bg-success: #178113;
  --nfd-ecommerce-bg-secondary: #eff6fc;
  --nfd-ecommerce-bg-danger: #E01C1C;


}
