:root {
  --nfd-ecommerce-accent-primary: #196bde;
  --nfd-ecommerce-accent-secondary: #84c0fc;
  --nfd-ecommerce-accent-tertiary: #006dc7;
  --nfd-ecommerce-border-primary: #dbdbdb;
  --nfd-ecommerce-border-secondary: #dce2ea;
  --nfd-ecommerce-bg-primary: #e5f6ff;
  --nfd-ecommerce-bg-secondary: #eff6fc;
  --nfd-ecommerce-bg-tertiary: #f5f5f5;
  --nfd-ecommerce-text-primary: #333333;
  --nfd-ecommerce-text-secondary: #425466;
  --nfd-ecommerce-text-tertiary: #5b5b5b;
  --nfd-ecommerce-font-primary: var(--bh-font);
  --nfd-ecommerce-font-secondary: var(--bh-font);
}
