.nfd-ecommerce-modal-overlay {
  background: rgba(255, 255, 255, 0.8);
}

.nfd-ecommerce-modal {
  width: 940px;
  max-height: 100%;
  .components-modal__header {
    height: auto;
    border: none;
    padding: 0 10px;
  }
  .components-modal__content {
    display: grid;
    place-items: center;
    margin: 0;
    padding: 0;
    background: #ffffff;
    border: 1px solid #dbdbdb;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 2px;
    &::before {
      content: none;
    }
    .nfd-ecommerce-modal-content {
      max-width: unset;
      display: grid;
      grid-auto-flow: row;
      grid-auto-rows: min-content;
      place-items: center;
      .nfd-ecommerce-hero {
        margin: 32px 0;
      }
      h1 {
        color: var(--nfd-ecommerce-accent-primary);
      }
      span {
        margin-top: 8px;
        color: var(--nfd-ecommerce-text-secondary);
      }
    }
    .nfd-ecommerce-modal-actions {
      display: flex;
      place-content: center;
      margin: 48px 0 40px;
      button {
        cursor: pointer;
        font: 590 20px/1.2 var(--nfd-ecommerce-font-primary);
        appearance: none;
        border: 1px solid var(--nfd-ecommerce-accent-primary);
        padding: 16px 0;
        border-radius: 2px;
        width: 180px;
        color: #ffffff;
        background-color: var(--nfd-ecommerce-accent-primary);
      }
    }
  }
}


h1.nfd-ecommerce-store-address-title {
  color: var(--nfd-ecommerce-text-primary);
  font: 274 40px/1.2 var(--nfd-ecommerce-font-primary);
}
div.nfd-ecommerce-store-address-form {
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 24px;
  padding: 64px 0 76px 0;
  label {
    display: block;
    font-size: 18px;
    line-height: 1;
    padding-bottom: 13px;
  }
  input,
  select {
    padding-left: 17px;
    width: 400px;
    height: 48px;
    border: 1px solid #d6d6d6;
    border-radius: 2px;
  }
}

.nfd-ecommerce-modal-header {
  font: 274 40px var(--nfd-ecommerce-font-secondary);
  margin-top: 64px;
}
.nfd-ecommerce-modal-header-description {
  font: 400 24px var(--nfd-ecommerce-font-secondary);
  line-height: 29px;
  text-align: center;
  margin-top: 24px;
}
.nfd-ecommerce-modal-options {
  display: grid;
  grid-auto-flow: row;
  padding-top: 32px;
  row-gap: 8px;
}
.nfd-ecommerce-modal-option {
  display: flex;
  align-items: center;
  cursor: pointer;
  width: 280px;
  height: 45px;
  background: #f0f0f0;
  border-radius: 2px;
  padding-left: 16px;
}
.nfd-ecommerce-modal-option-selected {
  background-color: #e5f6ff;
}
.nfd-ecommerce-modal-option-unselected {
  background-color: #f0f0f0;
}
