.nfd-ecommerce-modal-overlay {
  background: rgba(255, 255, 255, 0.8);
}

.nfd-ecommerce-modal {
  width: 940px;
  max-height: 100%;
  .components-modal__header {
    height: auto;
    border: none;
    padding: 0 10px;
  }
  .components-modal__content {
    display: grid;
    place-items: center;
    margin: 0;
    padding: 0;
    background: #ffffff;
    border: 1px solid var(--nfd-ecommerce-border-primary);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 2px;
    &::before {
      content: none;
    }
    .nfd-ecommerce-modal-content {
      max-width: unset;
      display: grid;
      grid-auto-flow: row;
      grid-auto-rows: min-content;
      place-items: center;
      .nfd-ecommerce-hero {
        margin: 32px 0;
      }
      h1 {
        color: var(--nfd-ecommerce-accent-primary);
      }
      span {
        margin-top: 8px;
        color: var(--nfd-ecommerce-text-secondary);
      }
    }
    .nfd-ecommerce-modal-actions {
      display: flex;
      place-content: center;
      margin: 48px 0 40px;
      button {
        cursor: pointer;
        font: 590 20px/1.2 var(--nfd-ecommerce-font-primary);
        appearance: none;
        border: 1px solid var(--nfd-ecommerce-accent-primary);
        padding: 16px 0;
        border-radius: 2px;
        width: 180px;
        color: #ffffff;
        background-color: var(--nfd-ecommerce-accent-primary);
      }
    }
  }
}


.nfd-ecommerce-modal-header {
  color: var(--nfd-ecommerce-text-primary);
  font: 274 40px/1.2 var(--nfd-ecommerce-font-primary);
  text-align: center;
  margin: 0;
}
.nfd-ecommerce-modal-header-description {
  color: var(--nfd-ecommerce-text-primary);
  font: 400 20px/1.2 var(--nfd-ecommerce-font-primary);
  text-align: center;
  margin: 16px 0 48px;
}
.nfd-ecommerce-modal-options {
  display: grid;
  grid-auto-flow: row;
  row-gap: 8px;
}
.nfd-ecommerce-modal-option {
  display: flex;
  align-items: center;
  cursor: pointer;
  width: 280px;
  height: 45px;
  background: #f0f0f0;
  border-radius: 2px;
  padding-left: 16px;
}
.nfd-ecommerce-modal-option-selected {
  background-color: var(--nfd-ecommerce-bg-primary);
}
.nfd-ecommerce-modal-option-unselected {
  background-color: #f0f0f0;
}

.nfd-ecommerce-modal-plugin-install-failed {
  width: 800px;
  max-height: 100%;
  .components-modal__header {
    height: auto;
    border: none;
    padding: 0 10px;
  }
}

.nfd-ecommerce-modal-plugin-install-failed-content {
  max-width: unset;
  display: grid;
  grid-auto-flow: row;
  grid-auto-rows: min-content;
  place-items: center;
  padding: 20px 0;
  span {
    font-size: 20px;
    color: var(--nfd-ecommerce-text-secondary);
  }
  button {
    background-color: var(--nfd-ecommerce-accent-primary);
    border: 2px solid var(--nfd-ecommerce-accent-primary);
    color: white;
    width: 247px;
    height: 56px;
    margin-top: 32px;
    cursor: grab;
  }
  a {
    text-decoration: none;
  }
}

form.nfd-ecommerce-modal-razorpay {
  display: grid;
  padding: 40px 40px 0.3em;
  gap: 1.5em;
  @media screen and (max-width: 481px) {
    padding: 40px 1em 0.3em;
    .razorpay-logo {
      justify-self: center;
    }
    .components-button-group {
      margin: auto;
      flex-direction: column-reverse;
      button{
        width: 247px;;
      }
    }
  }
}
