.nfd-ecommerce-atoms {
  font: 400 16px/1.2 var(--nfd-ecommerce-font-primary);
  color: var(--nfd-ecommerce-text-primary);
  h1 {
    color: var(--nfd-ecommerce-text-primary);
    font: 350 32px var(--nfd-ecommerce-font-secondary);
  }
  h2 {
    color: var(--nfd-ecommerce-text-primary);
    font: 400 24px var(--nfd-ecommerce-font-primary);
  }
  h3 {
    color: currentColor;
    font: 400 18px var(--nfd-ecommerce-font-primary);
  }
}
.nfd-ecommerce-setup {
  margin: 0;
  padding: 0;
  .nfd-ecommerce-banner {
    background-color: var(--nfd-ecommerce-bg-primary);
    border-radius: 2px;
    border: 1px solid var(--nfd-ecommerce-border-primary);

    display: grid;
    place-items: center;
    padding: 0 22px;
    h1 {
      color: var(--nfd-ecommerce-accent-primary);
    }
    .status-notice {
      color: var(--nfd-ecommerce-text-secondary);
      font-size: 14px;
      margin-top: 24px;
    }
  }
  .nfd-ecommerce-dashboard {
    min-height: 500px;
    background-color: var(--nfd-ecommerce-bg-tertiary);
    border: 1px solid var(--nfd-ecommerce-border-primary);
    border-radius: 2px;
    display: grid;
    grid-template-columns: 350px auto;

    nav.nfd-ecommerce-dashboard-menu {
      padding: 0;
      margin: 0;
      display: grid;
      grid-template-rows: repeat(5, min-content);
      a {
        box-shadow: none;
        color: unset;
        text-decoration: none;
        display: inline-flex;
        cursor: pointer;
        align-items: center;
        padding: 0 0 0 32px;
        height: 60px;
        &[data-active="true"] {
          background: #ffffff;
          > li {
            color: var(--nfd-ecommerce-accent-primary);
            font-weight: 590;
          }
        }
      }
      li {
        list-style: none;
        text-transform: capitalize;
        font: 400 18px var(--nfd-ecommerce-font-primary);
        &:hover {
          color: var(--nfd-ecommerce-accent-primary);
        }
      }
    }

    .nfd-ecommerce-dashboard-content {
      background-color: #ffffff;
      padding: 24px 40px;

      .nfd-ecommerce-dashboard-subtitle {
        color: var(--nfd-ecommerce-text-secondary);
      }
    }
  }
  .nfd-ecommerce-card {
    display: grid;
    border: 1px solid var(--nfd-ecommerce-border-secondary);
    border-radius: 2px;
    background: none;
    cursor: pointer;
    .nfd-ecommerce-card-image {
      height: 35px;
    }
    .nfd-ecommerce-card-title {
      font-weight: 590;
    }
    .nfd-ecommerce-card-link {
      align-items: center;
      display: inline-flex;
      text-decoration: none;
      font: 400 14px var(--nfd-ecommerce-font-primary);
      color: var(--nfd-ecommerce-accent-primary);
    }
    &:hover {
      background: var(--nfd-ecommerce-bg-secondary);
      border-color: var(--nfd-ecommerce-accent-secondary);
    }
  }
  .nfd-ecommerce-card[data-variant="minimal"] {
    text-align: left;
    grid-template-columns: min-content;
    padding: 17px 0 18px 17px;
    column-gap: 8px;
    .nfd-ecommerce-card-image {
      grid-area: 1 / 1;
    }
    .nfd-ecommerce-card-title {
      color: var(--nfd-ecommerce-text-tertiary);
      grid-column: 2;
    }
    .nfd-ecommerce-card-link {
      display: block;
      padding-top: 5px;
    }
  }
  .nfd-ecommerce-card[data-variant="standard"] {
    place-items: center;
    padding: 25px 0 18px;
    grid-auto-rows: min-content;
    .nfd-ecommerce-card-image {
      display: flex;
      align-items: flex-end;
      padding-bottom: 19px;
    }
    .nfd-ecommerce-card-title {
      text-align: center;
      display: grid;
      place-items: center;
      gap: 16px;
    }
    .nfd-ecommerce-card-link {
      gap: 5px;
      visibility: hidden;
    }
    &:hover .nfd-ecommerce-card-link {
      visibility: visible;
    }
  }
  .nfd-ecommerce-card[data-variant="extended"] {
    grid-template-columns: min-content;
    column-gap: 16px;
    align-items: center;
    text-align: left;
    .nfd-ecommerce-card-image {
      height: auto;
      padding-left: 16px;
    }
    .nfd-ecommerce-card-title {
      grid-column: 2;
      color: var(--nfd-ecommerce-text-primary);
      gap: 16px;
    }
    .nfd-ecommerce-card-subtitle {
      padding-bottom: 11.5px;
      padding-top: 7px;
      font-size: 14px;
      font-weight: 400;
    }
    .nfd-ecommerce-card-link {
      gap: 5px;
    }
    .nfd-ecommerce-card-circle {
      border: 1px solid #cccccc;
      border-radius: 50%;
      width: 50px;
      height: 50px;
      display: flex;
      justify-content: center;
      align-items: center;
      color: #767676;
    }
    &[data-completed="false"]:hover {
      .nfd-ecommerce-card-circle {
        background: var(--nfd-ecommerce-accent-primary);
        color: #ffffff;
      }
    }
    &[data-completed="true"] {
      border-color: var(--nfd-ecommerce-accent-secondary);
      .nfd-ecommerce-card-circle {
        color: var(--nfd-ecommerce-accent-primary);
        border: 1px solid var(--nfd-ecommerce-accent-secondary);
        background-color: var(--nfd-ecommerce-bg-secondary);
      }
    }
  }

  .nfd-ecommerce-standard-actions-container {
    display: grid;
    grid: 155px / auto-flow 170px;
    gap: 16px;
    padding-top: 32px;
  }
  .nfd-ecommerce-minimal-tasks-container {
    display: grid;
    grid: 78px / auto-flow 220px;
    gap: 16px;
    padding-top: 16px;
  }
  .nfd-ecommerce-extended-actions-container {
    display: grid;
    grid-auto-flow: row;
    grid-auto-rows: 114px;
    row-gap: 12px;
    padding-top: 32px;
  }
  .nfd-ecommerce-button {
    cursor: pointer;
    appearance: none;
  }
  .nfd-ecommerce-button[data-variant="flat"] {
    border: 1px solid var(--nfd-ecommerce-accent-primary);
    padding: 16px 25px;
    border-radius: 2px;
    min-width: 240px;
    color: #ffffff;
    background-color: var(--nfd-ecommerce-accent-primary);
  }
  .nfd-ecommerce-button[data-variant="link"] {
    border: none;
    padding: 0;
    margin: 0;
    background: none;
    font: 400 16px/1.2 var(--nfd-ecommerce-font-primary);
    color: var(--nfd-ecommerce-accent-primary);
  }
  .nfd-ecommerce-loader-mini {
    width: 1em;
    height: 1em;
    margin: 0;
  }
}

.nfd-ecommerce-modal-overlay {
  background: rgba(255, 255, 255, 0.8);
}

.nfd-ecommerce-modal {
  width: 940px;
  .components-modal__header {
    height: auto;
    border: none;
    padding: 0 10px;
  }
  .components-modal__content {
    display: grid;
    place-items: center;
    margin: 0;
    padding: 0;
    background: #ffffff;
    border: 1px solid #dbdbdb;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 2px;
    &::before {
      content: none;
    }
    .nfd-ecommerce-modal-content {
      max-width: unset;
      display: grid;
      grid-auto-flow: row;
      grid-auto-rows: min-content;
      place-items: center;
      .nfd-ecommerce-hero {
        margin: 32px 0;
      }
      h1 {
        color: var(--nfd-ecommerce-accent-primary);
      }
      span {
        margin-top: 8px;
        color: var(--nfd-ecommerce-text-secondary);
      }
    }
    .nfd-ecommerce-modal-actions {
      display: flex;
      place-content: center;
      margin: 48px 0 40px;
      button {
        cursor: pointer;
        font: 590 20px/1.2 var(--nfd-ecommerce-font-primary);
        appearance: none;
        border: 1px solid var(--nfd-ecommerce-accent-primary);
        padding: 16px 0;
        border-radius: 2px;
        width: 180px;
        color: #ffffff;
        background-color: var(--nfd-ecommerce-accent-primary);
      }
    }
  }
}

button.nfd-ecommerce-atoms {
  cursor: pointer;
  font: 590 20px/1.2 var(--nfd-ecommerce-font-primary);
  appearance: none;
  border: 1px solid var(--nfd-ecommerce-accent-primary);
  padding: 16px 0;
  border-radius: 2px;
  width: 180px;
  color: #ffffff;
  background-color: var(--nfd-ecommerce-accent-primary);
}

h1.nfd-ecommerce-store-address-title {
  color: var(--nfd-ecommerce-text-primary);
  font: 274 40px/1.2 var(--nfd-ecommerce-font-primary);
}
div.nfd-ecommerce-store-address-form {
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 24px;
  padding: 64px 0 76px 0;
  label {
    display: block;
    font-size: 18px;
    line-height: 1;
    padding-bottom: 13px;
  }
  input,
  select {
    padding-left: 17px;
    width: 400px;
    height: 48px;
    border: 1px solid #d6d6d6;
    border-radius: 2px;
  }
}
