@import "./atoms.scss";
@import "./modals.scss";
@import "./src/sections/Banner.scss";
@import "./src/sections/SiteStatus.scss";

.nfd-ecommerce-setup {
  margin: 0;
  padding: 0;

  .nfd-ecommerce-woocommerce-unavailable {
    background-color: var(--nfd-ecommerce-bg-primary);
    border-radius: 2px;
    border: 1px solid var(--nfd-ecommerce-border-primary);
    display: grid;
    padding: 0 22px;
    grid-template-areas:
      "title illustration"
      "actions illustration";
    h1 {
      color: var(--nfd-ecommerce-accent-primary);
    }

    .status-notice {
      color: var(--nfd-ecommerce-text-secondary);
      font-size: 16px;
      margin-top: 24px;
    }

    button {
      display: block;
      width: 272px;
      padding: 10px 24px;
      border: 2px solid var(--nfd-ecommerce-accent-primary);
      margin-top: 24px;
      background-color: var(--nfd-ecommerce-accent-primary);
      color: white;
      margin-bottom: 16px;
      cursor: grab;
    }

    a {
      display: block;
      width: 220px;
      padding: 10px 24px;
      border: 2px solid var(--nfd-ecommerce-accent-primary);
      background-color: white;
      color: var(--nfd-ecommerce-accent-primary);
      text-align: center;
      cursor: grab;
      text-decoration: none;
      margin-bottom: 32px;
    }

    .title {
      grid-area: title;
      margin-top: 24px;
    }

    .actions-container {
      grid-area: actions;
    }

    .banner-image {
      grid-area: illustration;
      display: flex;
      align-self: center;
    }

    @media (max-width: 600px) {
      grid-template-areas:
        "title"
        "illustration"
        "actions";
      .wcUnAvailableIllustaration {
        width: 100%;
      }
      h1 {
        text-align: center;
      }
      .status-notice {
        text-align: center;
      }
    }
  }

  .nfd-ecommerce-dashboard {
    min-height: 500px;
    background-color: var(--nfd-ecommerce-bg-tertiary);
    border: 1px solid var(--nfd-ecommerce-border-primary);
    border-radius: 2px;
    display: grid;
    grid-template-columns: 350px auto;

    @media (max-width: 1200px) {
      grid-template-columns: 244px auto;
    }

    @media (max-width: 480px) {
      display: block;
      min-height: auto;
      background-color: inherit;
      border: none;
    }

    .nf-onboarding__mobile {
      padding: 0px;
    }

    nav.nfd-ecommerce-dashboard-menu {
      padding: 0;
      margin: 0;
      display: grid;
      grid-template-rows: repeat(5, min-content);

      a {
        box-shadow: none;
        color: unset;
        text-decoration: none;
        display: inline-flex;
        cursor: pointer;
        align-items: center;
        padding: 0 0 0 32px;
        height: 60px;

        &[data-active="true"] {
          background: #ffffff;

          > li {
            color: var(--nfd-ecommerce-accent-primary);
            font-weight: 590;
          }
        }
      }

      li {
        list-style: none;
        text-transform: capitalize;
        font: 400 18px var(--nfd-ecommerce-font-primary);

        &:hover {
          color: var(--nfd-ecommerce-accent-primary);
        }
      }
    }

    .nfd-ecommerce-dashboard-content {
      background-color: #ffffff;
      padding: 24px 40px;

      .nfd-ecommerce-dashboard-subtitle {
        color: var(--nfd-ecommerce-text-secondary);
      }
    }

    .components-navigation__menu {
      background: #ffffff;

      .components-navigation__back-button {
        background: #f1f5f7;
        opacity: inherit;
        margin-bottom: 0px;
        padding-bottom: 35px;
        font-size: 18px;
      }

      li {
        height: 60px;
        padding: 0px;
        border-bottom: 1px solid var(--nfd-ecommerce-border-primary);
        display: flex;
      }

      a.components-button {
        opacity: inherit;
        color: #333333;
      }

      span {
        font-size: 16px;
      }
      .components-navigation__item {
        padding: 16px;
        display: block;
        height: auto;
      }
    }
  }

  .nfd-ecommerce-card {
    display: grid;
    border: 1px solid var(--nfd-ecommerce-border-secondary);
    border-radius: 2px;
    background: none;
    cursor: pointer;

    .nfd-ecommerce-card-image {
      height: 35px;
    }

    .nfd-ecommerce-card-title {
      font-weight: 590;
      color: var(--nfd-ecommerce-text-primary);
    }

    .nfd-ecommerce-card-link {
      align-items: center;
      display: inline-flex;
      text-decoration: none;
      font: 400 14px var(--nfd-ecommerce-font-primary);
      color: var(--nfd-ecommerce-accent-primary);
    }

    &:hover {
      background: var(--nfd-ecommerce-bg-secondary);
      border-color: var(--nfd-ecommerce-accent-secondary);
    }
  }

  .nfd-ecommerce-card[data-variant="minimal"] {
    text-align: left;
    grid-template-columns: min-content;
    padding: 17px 0 18px 17px;
    column-gap: 8px;

    .nfd-ecommerce-card-image {
      grid-area: 1 / 1;
      display: flex;
      align-items: center;
    }

    .nfd-ecommerce-card-title {
      color: var(--nfd-ecommerce-text-tertiary);
      grid-column: 2;
    }

    .nfd-ecommerce-card-link {
      display: block;
      padding-top: 5px;
    }
  }

  .nfd-ecommerce-card[data-variant="standard"] {
    place-items: center;
    padding: 25px 0 18px;
    grid-auto-rows: min-content;

    .nfd-ecommerce-card-image {
      display: flex;
      align-items: flex-end;
      padding-bottom: 19px;
    }

    .nfd-ecommerce-card-title {
      text-align: center;
      display: grid;
      place-items: center;
      gap: 16px;
    }

    &[data-action-gutter="s"] .nfd-ecommerce-card-title {
      gap: 5px;
    }

    .nfd-ecommerce-card-link {
      gap: 5px;
      visibility: hidden;
    }

    &:hover .nfd-ecommerce-card-link {
      visibility: visible;
    }
  }
  .nfd-ecommerce-taskCompleted {
    position: relative;
    .nfd-ecommerce-taskCompleted-image {
      position: absolute;
      top: 8px;
      right: 8px;
    }
  }

  .nfd-ecommerce-card[data-variant="extended"] {
    grid-template-areas: "image description action";
    grid-template-columns: min-content;
    column-gap: 16px;
    align-items: center;
    text-align: left;
    cursor: default;

    .nfd-ecommerce-card-image {
      grid-area: image;
      height: auto;
    }

    .nfd-ecommerce-card-title {
      grid-area: description;
      grid-column: 2;
      color: var(--nfd-ecommerce-text-primary);
      gap: 16px;
    }

    .nfd-ecommerce-card-subtitle {
      padding-bottom: 11.5px;
      padding-top: 7px;
      font-size: 14px;
      font-weight: 400;
    }

    .nfd-ecommerce-card-action {
      grid-area: action;
      justify-self: end;

      button {
        width: 121px;
        height: 40px;
        background: #ffffff;
        border: 1px solid var(--nfd-ecommerce-accent-primary);
        color: var(--nfd-ecommerce-accent-primary);
        border-radius: 2px;
        padding: 0px !important;
        cursor: pointer;
      }

      div {
        font-size: 14px;
        font-style: italic;

        &[data-inqueue="true"] {
          background: var(--nfd-ecommerce-accent-secondary);
          border-radius: 4px;
          display: flex;
          flex-direction: row;
          padding: 5.5px 8px 5.5px 8px;

          .grey-loader::before {
            background: #5c5c5c !important;
          }
          .bwa-loader:after {
            background: var(--nfd-ecommerce-accent-secondary) !important;
          }
        }
        &[data-inqueue="false"] {
          width: 173px;
          height: 34px;
          line-height: 17px;
          color: #777777;
        }
      }
    }

    .nfd-ecommerce-card-circle {
      border: 1px solid #cccccc;
      border-radius: 50%;
      width: 50px;
      height: 50px;
      display: flex;
      justify-content: center;
      align-items: center;
      color: #767676;
    }

    &[data-completed="false"]:hover {
      .nfd-ecommerce-card-circle {
        background: var(--nfd-ecommerce-accent-primary);
        color: #ffffff;
      }
    }

    &[data-completed="true"] {
      border-color: var(--nfd-ecommerce-accent-secondary);

      .nfd-ecommerce-card-circle {
        color: var(--nfd-ecommerce-accent-primary);
        border: 1px solid var(--nfd-ecommerce-accent-secondary);
        background-color: var(--nfd-ecommerce-bg-secondary);
      }
    }

    &:disabled {
      pointer-events: none;
      cursor: not-allowed;
    }

    @media (max-width: 960px) {
      grid-template-areas:
        "image description"
        "image action";
      .nfd-ecommerce-card-action {
        justify-self: auto;
      }
    }
  }

  .nfd-ecommerce-standard-actions-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, 170px);
    grid-auto-rows: 155px;
    gap: 16px;
    padding-top: 32px;
  }

  .nfd-ecommerce-minimal-tasks-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, 220px);
    grid-auto-rows: 78px;
    gap: 16px;
    padding-top: 16px;
  }

  .nfd-ecommerce-extended-actions-container {
    display: grid;
    grid-auto-flow: row;
    row-gap: 12px;
    padding-top: 32px;

    button {
      padding: 16px;
    }
  }

  .nfd-ecommerce-button {
    cursor: pointer;
    appearance: none;
  }

  .nfd-ecommerce-button[data-variant="flat"] {
    border: 1px solid var(--nfd-ecommerce-accent-primary);
    padding: 16px 25px;
    border-radius: 2px;
    min-width: 240px;
    color: #ffffff;
    background-color: var(--nfd-ecommerce-accent-primary);
  }

  .nfd-ecommerce-button[data-variant="hollow"] {
    border: 1px solid var(--nfd-ecommerce-accent-primary);
    padding: 16px 25px;
    border-radius: 2px;
    min-width: 240px;
    color: var(--nfd-ecommerce-accent-primary);
    background-color: white;
  }

  .nfd-ecommerce-button[data-variant="link"] {
    border: none;
    padding: 0;
    margin: 0;
    background: none;
    font: 400 16px/1.2 var(--nfd-ecommerce-font-primary);
    color: var(--nfd-ecommerce-accent-primary);
  }
}

.disableDashboardContent {
  pointer-events: none;
  filter: opacity(0.2);
}

.nfd-ecommerce-store-analytics {
  border: 1px solid #d7dbe0;
  background-color: white;
  padding: 24px 24px 19px;

  .store-analytics-notice {
    font-size: 16px;
    color: var(--nfd-ecommerce-text-secondary);
  }

  a {
    display: block;
    font: 400 18px/1.2 var(--nfd-ecommerce-font-primary);
    padding: 10px 40px;
    width: fit-content;
    border: 1px solid var(--nfd-ecommerce-accent-primary);
    border-radius: 2px;
    background-color: white;
    color: var(--nfd-ecommerce-accent-primary);
    text-decoration: none;
  }
}
