.nfd-ecommerce-setup {
  --nfd-ecommerce-accent-primary: #196bde;
  --nfd-ecommerce-accent-secondary: #84c0fc;
  --nfd-ecommerce-accent-tertiary: #006dc7;
  --nfd-ecommerce-border-primary: #dbdbdb;
  --nfd-ecommerce-border-secondary: #dce2ea;
  --nfd-ecommerce-bg-primary: #e5f6ff;
  --nfd-ecommerce-bg-secondary: #eff6fc;
  --nfd-ecommerce-bg-tertiary: #f5f5f5;
  --nfd-ecommerce-text-primary: #333333;
  --nfd-ecommerce-text-secondary: #425466;
  --nfd-ecommerce-text-tertiary: #5b5b5b;
  --nfd-ecommerce-font-primary: var(--bh-font);
  --nfd-ecommerce-font-secondary: SF Compact;
  font: 400 16px/1.2 var(--nfd-ecommerce-font-primary);
  color: var(--nfd-ecommerce-text-primary);
  margin: 0;
  padding: 0;
  h1 {
    font: 300 32px var(--nfd-ecommerce-font-secondary);
  }
  h2 {
    font: 300 24px var(--nfd-ecommerce-font-secondary);
  }
  h3 {
    font: 500 18px var(--nfd-ecommerce-font-secondary);
  }
  span.text {
    font-size: 14px;
  }
  .nfd-ecommerce-banner {
    background-color: var(--nfd-ecommerce-bg-primary);
    border-radius: 2px;
    border: 1px solid var(--nfd-ecommerce-border-primary);

    display: grid;
    place-items: center;
    padding: 0px 22px;
    h1 {
      color: var(--nfd-ecommerce-accent-primary);
    }
    .status-notice {
      color: var(--nfd-ecommerce-text-secondary);
      margin-top: 24px;
    }
  }
  .nfd-ecommerce-dashboard {
    min-height: 500px;
    background-color: var(--nfd-ecommerce-bg-tertiary);
    border: 1px solid var(--nfd-ecommerce-border-primary);
    border-radius: 2px;
    display: grid;
    grid-template-columns: 350px auto;

    nav.nfd-ecommerce-dashboard-menu {
      padding: 0;
      margin: 0;
      display: grid;
      grid-template-rows: repeat(5, min-content);
      li {
        display: inline-flex;
        cursor: pointer;
        align-items: center;
        padding: 0 0 0 32px;
        height: 60px;
        text-transform: capitalize;
        &:hover > h3,
        &[data-active="true"] > h3 {
          color: var(--nfd-ecommerce-accent-primary);
        }
        &[data-active="true"] {
          background: #ffffff;
          > h3 {
            font-weight: 600;
          }
        }
      }
    }

    .nfd-ecommerce-dashboard-content {
      background-color: #ffffff;
      padding: 24px 40px;

      .nfd-ecommerce-dashboard-subtitle {
        color: var(--nfd-ecommerce-text-secondary);
      }
    }
  }
  .nfd-ecommerce-card {
    display: grid;
    border: 1px solid var(--nfd-ecommerce-border-secondary);
    border-radius: 2px;
    .nfd-ecommerce-card-image {
      height: 35px;
    }
    .nfd-ecommerce-card-title {
      font-weight: 590;
    }
    .nfd-ecommerce-card-link {
      text-decoration: none;
      font: 510 14px var(--nfd-ecommerce-font-primary);
      color: var(--nfd-ecommerce-accent-primary);
    }
    &:hover {
      background: var(--nfd-ecommerce-bg-secondary);
      border-color: var(--nfd-ecommerce-accent-secondary);
    }
  }
  .nfd-ecommerce-card[data-variant="minimal"] {
    grid-template-columns: min-content;
    padding: 17px 0 18px 17px;
    column-gap: 8px;
    .nfd-ecommerce-card-image {
      grid-area: 1 / 1;
    }
    .nfd-ecommerce-card-title {
      color: var(--nfd-ecommerce-text-tertiary);
      grid-column: 2;
    }
    .nfd-ecommerce-card-link {
      display: block;
      padding-top: 5px;
    }
  }
  .nfd-ecommerce-card[data-variant="standard"] {
    place-items: center;
    padding: 25px 0 18px;
    grid-auto-rows: min-content;
    .nfd-ecommerce-card-image {
      display: flex;
      align-items: flex-end;
      padding-bottom: 19px;
    }
    .nfd-ecommerce-card-title {
      text-align: center;
      display: grid;
      place-items: center;
      gap: 20px;
    }
    .nfd-ecommerce-card-link {
      display: inline-flex;
      align-items: center;
      gap: 5px;
      visibility: hidden;
    }
    &:hover .nfd-ecommerce-card-link {
      visibility: visible;
    }
  }
  .nfd-ecommerce-standard-actions-container {
    display: grid;
    grid: 155px / auto-flow 170px;
    gap: 16px;
    padding-top: 32px;
  }
  .nfd-ecommerce-minimal-tasks-container {
    display: grid;
    grid: 78px / auto-flow 220px;
    gap: 16px;
    padding-top: 16px;
  }
}
