.wp-toolbar {
  padding: 0 !important;
}
body.js.is-fullscreen-mode #adminmenumain {
  display: none !important;
}

body.js.is-fullscreen-mode #wpcontent,
#wpfooter {
  padding: 0 !important;
  margin: 0 !important;
}

body.js.is-fullscreen-mode #adminmenumain,
body.js.is-fullscreen-mode #wpcontent #wpadminbar,
body.js.is-fullscreen-mode #wpfooter {
  display: none !important;
}

.nfd-ecommerce-captive-flow {
  background-color: white;
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
}
