.nfd-woocommerce-link {
  outline: none;
  position: fixed;
  width: 200px;
  padding-left: 32px;
  z-index: 1010;
  height: 60px;
  display: grid;
  text-decoration: none;
  align-items: center;
  background: white;
  font: 400 16px/1.5 -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
  color: #2c76dc;
}
.nfd-woocommerce-link:hover {
  color: #2c76dc;
}
.nfd-woocommerce-link:focus {
  color: #2c76dc;
  box-shadow: none;
  outline: none;
}

.post-php .nfd-woocommerce-link,
.post-new-php .nfd-woocommerce-link {
  font-size: 14px;
  top: 0;
  width: 4vw;
  padding-left: 1em;
  border-bottom: 1px solid #ecece0;
}

.post-php .wp-responsive-open .nfd-woocommerce-link {
  z-index: 0;
}

.mobile.post-php .nfd-woocommerce-link,
.mobile.post-new-php .nfd-woocommerce-link {
  left: 12%;
  width: fit-content;
}

.mobile .nfd-woocommerce-link {
  width: 115px;
  padding-left: 20px;
  font-size: 13px;
}

.is-wp-toolbar-disabled .nfd-woocommerce-link {
  top: 0;
}

body.is-wc-nav-folded .nfd-woocommerce-link {
  left: 60px;
}
