.nfd-woocommerce-link {
  outline: none;
  position: fixed;
  width: 200px;
  top: 32px;
  padding-left: 32px;
  z-index: 1010;
  height: 60px;
  display: grid;
  text-decoration: none;
  align-items: center;
  background: white;
  font: 400 16px/1.5 sans-serif;
  color: #2c76dc;
}
.nfd-woocommerce-link:hover {
  color: #2c76dc;
}
.nfd-woocommerce-link:focus {
  color: #2c76dc;
  box-shadow: none;
  outline: none;
}

.post-php .nfd-woocommerce-link,
.post-new-php .nfd-woocommerce-link {
  font-size: 14px;
  top: 0;
  width: 4vw;
  padding-left: 1em;
  border-bottom: 1px solid #ecece0;
}

.is-wp-toolbar-disabled .nfd-woocommerce-link {
  top: 0;
}

body.is-wc-nav-folded .nfd-woocommerce-link {
  left: 60px;
}
