.multi-actions-popover {
  div.components-popover__content {
    border-radius: 8px;
    width: 240px;
  }

  .components-dropdown-menu__menu-item {
    flex-direction: row-reverse;
    font-size: 14px;
    height: 55px;
    justify-content: space-between !important;
    padding: 0 8px 0 18px;
    &:hover,
    &:focus {
      background-color: var(--nfd-ecommerce-bg-secondary);
    }
  }
}
