div.nfd-ecommerce-store-address-form {
  display: grid;
  gap: 24px 0;
  padding: 0 0 76px;
  label {
    display: block;
    font: 590 16px/1.2 var(--nfd-ecommerce-font-primary);
    padding-bottom: 13px;
    &[aria-required="true"]::after {
      content: " *";
    }
  }
  input,
  select {
    padding-left: 17px;
    min-width: 400px;
    max-width: 100%;
    width: 100%;
    height: 48px;
    border: 1px solid #d6d6d6;
    border-radius: 2px;
  }

  div[data-name="full-address"] {
    &[data-state-empty="false"] {
      grid-template-columns: repeat(3, auto);
      @media (min-width: 780px) and (max-width: 960px) {
        input,
        select {
          width: 180px;
        }
      }
    }
    &[data-state-empty="true"] {
      grid-template-columns: repeat(2, auto);
    }
    display: grid;
    gap: 24px 32px;
    div[data-name="state"] {
      grid-column: 2;
    }
    select,
    input {
      min-width: 180px;
    }
    @media (max-width: 780px) {
      &[data-state-empty] {
        grid-template-columns: auto;
      }
      div[data-name="state"] {
        grid-column: 1;
      }
    }
  }

  @media (max-width: 960px) {
    input,
    select {
      width: 300px;
    }
  }

  @media (max-width: 780px) {
    grid-template-columns: auto;
    padding: 0 24px 76px;
    input,
    select {
      min-width: 100%;
      width: 100%;
    }
  }
}
