.nfd-ecommerce-store-analytics {
  border: 1px solid #d7dbe0;
  background-color: white;
  padding: 24px 24px 19px;

  .store-analytics-notice {
    font-size: 16px;
    color: var(--nfd-ecommerce-text-secondary);
  }

  button {
    height: 40px;
  }
}
