// NewFold Theme for @wordpress/components
.toplevel_page_bluehost {
  .nfd-ecommerce-atoms {
    .nfd-ecommerce-button.components-button:not(.has-icon) {
      box-shadow: none;
      font: 400 18px/1.2 var(--nfd-ecommerce-font-primary);
      height: 3em;
      justify-content: center;
      min-width: 123px;
      padding: 0 1em;
      outline: 1px solid var(--nfd-ecommerce-accent-primary);
      &.is-secondary {
        background-color: #ffffff;
        border: none;
        color: var(--nfd-ecommerce-accent-primary);
      }
      &.is-primary {
        background-color: var(--nfd-ecommerce-accent-primary);
        border: none;
        color: #ffffff;
        &:disabled {
          background: gray;
          box-shadow: none;
          outline: none;
          cursor: not-allowed;
        }
      }
    }

    div.components-base-control__field {
      label {
        --display-required-mark: hidden;
        color: var(--nfd-ecommerce-text-primary);
        font: 590 16px/1.2 var(--nfd-ecommerce-font-primary);
        padding-bottom: 13px;
      }
      label::after {
        visibility: var(--display-required-mark);
        content: " *";
      }
      label:has(~ input[required]) {
        --display-required-mark: visible;
      }
    }
    .toggle-control {
      justify-self: baseline;
      margin: 0;
      .components-base-control__field {
        .components-flex {
          flex-direction: row-reverse ;
          align-items: baseline ;
          gap: 4em;
        }
      }
      .components-form-toggle {
        .components-form-toggle__track {
          border-color: transparent;
          background-color: #8898af;
        }
        .components-form-toggle__thumb {
          border-color: white;
          background-color: white;
        }
        &.is-checked {
          .components-form-toggle__track {
            background-color: var(--nfd-ecommerce-accent-primary);
          }
          .components-form-toggle__thumb {
            border-color: white;
            background-color: white;
          }
        }
      }
    }
    .text-control {
      input[type="text"].components-text-control__input {
        display: block;
        border: 1px solid #d6d6d6;
        border-radius: 2px;
        padding: 1em;
        width: 360px;
      }
      .components-base-control__help {
        color: var(--nfd-ecommerce-text-tertiary);
        font-size: 14px;
        margin: 8px 0 0 0;
      }
      label.components-base-control__label{
        text-transform: none;
      }
    }
  }
}
