.promotion {
  background-color: #f6f7f7;
  text-decoration: none;
  border-radius: 4px;
  display: inline-block;
  border: 1px solid #2671b1;
  padding: 3px 10px;
  font-size: 13px;
  text-align: center;
}
