name: Build and Test Module Updates in Brand Plugins (Playwright tests)
on:
  pull_request:
    types: [ opened, reopened, ready_for_review, synchronize ]
    branches:
      - main
  workflow_dispatch:

permissions:
  contents: read

concurrency:
  group: ${{ github.workflow }}-${{ github.event_name == 'pull_request' && github.head_ref || github.sha }}
  cancel-in-progress: true

jobs:
  setup:
    name: Setup
    runs-on: ubuntu-latest
    permissions:
      contents: read
    outputs:
      branch: ${{ steps.extract_branch.outputs.branch }}
    steps:

      - name: Extract branch name
        shell: bash
        run: echo "branch=${GITHUB_HEAD_REF:-${GITHUB_REF#refs/heads/}}" >> $GITHUB_OUTPUT
        id: extract_branch

  bluehost:
    name: Bluehost Build and Test Playwright
    needs: setup
    permissions:
      contents: read
    uses: newfold-labs/workflows/.github/workflows/module-plugin-test-playwright.yml@main
    with:
      module-repo: ${{ github.repository }}
      module-branch: ${{ needs.setup.outputs.branch }}
      plugin-repo: 'newfold-labs/wp-plugin-bluehost'
      plugin-branch: 'develop'
    secrets: inherit
